{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table id="t01">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.stockPrice }}</td>
                <td>{{ stock.TOTAL }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Cash</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash }}</td>
        </tr>
                <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ total_price }}</td>
        </tr>
    </table>
{% endblock %}